<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reSource</title>
    <script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/resource.css" type="text/css" />
    <link rel="stylesheet" href="/styles/rating.css" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Script handler -->
    <script src="/scripts/resource.js"></script>
    <script src="/scripts/comments.js"></script>

    <script src="/scripts/ratings.js"></script>
    <script src="/scripts/likes.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <main id="all-contents">
      <section id="expanded-resource">
        <div class="resource-header">
          <div class="title-and-category">
            <h3><%= resource.category %></h3>
            <h1><%= resource.title %></h1>
          </div>
          <div class="all-rating">
            <i class="average__rating far fa-star"></i>
            <i class="average__rating far fa-star"></i>
            <i class="average__rating far fa-star"></i>
            <i class="average__rating far fa-star"></i>
            <i class="average__rating far fa-star"></i>
          </div>
        </div>
        <div class="contents">
          <img class="image" src=<%= resource.thumbnail_photo_url %>></i>
          <div class="description-container">
            <%= resource.description %>
          </div>
          <div class="more-containers">
            <div class="left-side">
            <div class='tags'>
              <%= resource.tag_1 %>
            </div>
            <div class='tags'>
              <%= resource.tag_2 %>
            </div>
            <div class='tags'>
              <%= resource.tag_3 %>
            </div>
              <a href="<%= resource.resource_url %>" class="external-link">Visit Source</a>
            </div>

            <div class="like-button">
              <i class="<%= like ? 'fas fa-heart' : 'far fa-heart' %>"></i>
            </div>
            <!-- <div class="is-unliked">
              <i class="far fa-heart"></i>
            </div> -->
          </div>
        </div>
      </section>

    <section id="comments-section">
      <div class="comment-form">
        <h3>Leave a Comment</h3>
        <form id="form-id">
          <input type="hidden" name="resource_id" value="<%= resource.id%>">
          <input type="hidden" name="username" value="<%= username%>">
          <textarea id="tx01" name="comment" placeholder="Start typing..."></textarea>
          <div class="rating-send">
            <div class="star-buttons">
              <div class="star-rating">
                <div class="rating">
                  <span class="rating__result"></span>
                   <i class="rating__star far fa-star"></i>
                   <i class="rating__star far fa-star"></i>
                   <i class="rating__star far fa-star"></i>
                   <i class="rating__star far fa-star"></i>
                   <i class="rating__star far fa-star"></i>
                  </div>
              </div>
            </div>
            <div class="buttons">
              <button class="submit-comment" type="submit">SEND</button>
            </div>
          </div>
        </form>
      </div>
      <div class="comments">
        <!-- <article class="comments-container">
          <div class="comment">
            <span>Topping sweet dragée pudding. Dessert pie pastry gummi bears donut soufflé soufflé.</span>
          </div>
          <div class="username">Joe.Alwyn</div>
          <div class="timestamp">Long time ago</div>
        </article> -->
      </div>
    </section>
    </main>
  </body>
</html>
